# The following contents should be placed in the file: /expresswebjs-extension/expresswebjs-extension/.vscodeignore

**.vscode/**
**node_modules/**
**.git/**
**.DS_Store**
**.env**
**.npmrc**
**package-lock.json**
**tsconfig.tsbuildinfo**